{{ form_start(form) }}
    {{ form_widget(form) }}
   <button class="btn m-3">
        <span class="col inline">
            {{ button_label|default('Enregistrer') }}
        </span>
        <span class="col inline">
            {% include 'boutons/save.html.twig' %} 
        </span>
    </button>
{{ form_end(form) }}
