{% extends 'base.html.twig' %}

{% block title %}New Hotel{% endblock %}

{% block body %}
    <h1>Mon Hôtel</h1>

    {{ include('hotel/_form.html.twig') }}

    <a href="{{ path('app_hotel_index') }}">Retour à la liste</a>
{% endblock %}
