

:root {
    --color-white: #ffffff;
    --color-orange: #F57B29;
    --color-grey: #707070;
    --color-pink: #EC7171;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgb(145, 145, 148) rgba(0, 0, 0, 0);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: rgba(131, 131, 131, 0);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(145, 145, 148);
    border-radius: 20px;
    border: 3px solid rgba(0, 0, 0, 0);
  }

html, 
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background-color: var(--color-grey);
    color: #024141;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
}

.logo {
    display: inline;
    width: 10vw;
    margin: 5rem;
}

h1 {
    font-size: 6rem;
    color: black;
}

h1.title {
    display: inline;
}

.nav,
.fond-gris {
    width: auto;
    font-size: 1.5rem;
    background-color: #272f3b9a;
    color: #7afffe;
}

.btn {
    font-size: 2rem;
    background-color: #272f3b;
    border: 0;
    color: #7afffe;
    margin: 1rem;
}

.btn:hover {
  font-size: 2rem;
  background-color: #0b0e11;
  border: 0;
  color: #e7f5f5;
  margin: 1rem;
}

label,
input,
select {
    font-size: 1.5rem;
}