@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Life+Savers&family=Petit+Formal+Script&display=swap');

:root {
    --color-beige-1: #d0ccb6; /* var(--color-beige-1); */
    --color-beige-2: #ffffff66; /* var(--color-beige-2); */
    --color-beige-3: #858562; /* var(--color-beige-3); */
    --color-grey: #3e3c48; /* var(--color-grey); */
    --color-dark-grey: #262430; /* var(--color-dark-grey); */
    --color-green-1: #beef9e; /* var(--color-green-1); */
    --color-green-2: #a6c36f; /* var(--color-green-2); */
    --color-green-3: #828c51; /* var(--color-green-3); */
    --color-green-4: #335245; /* var(--color-green-4); */
    --color-green-5: #1e352f; /* var(--color-green-5); */
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-green-2) var(--color-green-5);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--color-beige-1);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-green-2);
  border-radius: 20px;
  border: 1px solid var(--color-green-5);
}

html, 
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background-color: var(--color-green-2);
    color: var(--color-green-4);
    font-weight: bolder;
}

body>* {
  font-family: 'Dancing Script', cursive;
}

header {
  background-image: url(/images/bg-nav.png);
}

body > header > nav > div > button > span {
  background-color: var(--color-green-4);
}

.admin-buttons {
    position: absolute;
    top: 1rem;
    right: 4rem;
    z-index: 100;
}

main {
  min-height: 70vh;
}

.logo {
    display: inline;
    width: 10vw;
    margin: 0;
}

h1 {
    font-size: 3rem;
    color: var(--color-dark-grey);

}

h1.title {
    display: inline;
}

h2 {
  font-size: 4rem;
  color: var(--color-dark-grey);
}

h2,
h3,
h4 {
  text-align: center;
}

.navbar {
    width: auto;
    font-size: 1.5rem;
  background-color: var(--color-beige-2);
    color:  var(--color-green-1);
}

.fond-gris {
  width: auto;
  font-size: 1.5rem;
  background-color: var(--color-green-5);
  color: var(--color-green-1);
}

.container.large-width {
  min-width: 95vw;
}

.scroll {
  overflow-y:scroll;
  height:90vh;
}

#navbarScroll > ul > li > a {
  color: var(--color-green-5);
  background-size: 200% auto;
  border-radius: 5px;
  padding-inline: 1rem;
  background-image: linear-gradient(to right, var(--color-beige-1) 0%, var(--color-green-3) 100%);
}

#navbarScroll > ul > li > a.active {
  color: var(--color-green-5);
  background-size: 200% auto;
  box-shadow: 0 0 20px var(--color-beige-1);
  border-radius: 5px;
  background-image: linear-gradient(to right, var(--color-beige-2) 0%, var(--color-green-1) 31%, var(--color-green-3) 60%, var(--color-green-4) 100%);
}

.fond-clair {
  width: 60vw;
  margin: auto;
  padding-top: 1rem;
  padding-inline: 1rem;
  background-color: var(--color-beige-1);
  border-radius: 5px;
  text-align: center;
}

.card-body {
  text-align: center;
}

.btn {
    font-size: 1.5rem;
    background-color: var(--color-green-5);
    border: 0;
    color:  var(--color-green-1);
}

.btn.iconic {
  font-size: 1rem;
  background-color: var(--color-green-5);
  border: 0;
  color:  var(--color-green-1);
}

.btn-primary.disabled {
  background-color: var(--color-green-4);
  color:  var(--color-green-2);
}

.btn:hover {
  background-color: var(--color-green-5);
  border: 0;
  color: var(--color-beige-3);
}

label,
input,
select {
  font-family: 'Petit Formal Script', cursive;
    font-size: 1.5rem;
}

#datetimes {
  width: 80%;
}

footer > * {
  font-family: 'Life Savers', cursive;
}

.list-group-item, 
.list-group-item.active {
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

.carousel-indicators.hotels {
  font-size: 2rem;
  position: relative;
}

.img-fluid.chambre {
  height: 650px;
}

.img-fluid.chambre.small {
  height: 500px;
}

/*forms*/
form {
    display: inline;
}

#chambreSelector {
  width: 70%;
}   

.photo-show {
  border-radius: 8px;
  display: block;
  margin: auto;
  width: 80vw;
}

.card.larg {
  width: 50vw;
  margin: auto;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.card-img-top {
  width: 80%;
  height: 15vh;
  margin-top:2rem;
  margin-inline: auto;
}

.card-img-top.big {
  height: auto;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 5rem;
  height: 5rem;
}

.bg-grey {
  color: var(--color-green-1);
  background-color: var(--color-grey);
}

/*calendriers*/
.daterangepicker td.off.disabled {
  background-color: var(--color-green-4);
}

.daterangepicker td.active {
  color: var(--color-green-4);
  background-color: var(--color-green-2);
}

.daterangepicker td.in-range {
  background-color: var(--color-green-1);
}

.calendar-time {
  display: none;
}

/* animations */
.announcement {
  overflow: hidden;
}

.announcement > :first-child {  
 display: inline-block;
 padding-left: 100vw;
 white-space: nowrap;
 animation: announce 45s infinite linear;
}
  
@keyframes announce {
    0% {
      transform: translate3d(0,0,0);      /* position initiale à droite */
    }
    100% {
      transform: translate3d(-100%,0,0);  /* position finale à gauche */
    }
}

@media screen and (min-width: 991px) {
  .logo {
    margin: 1vw;
  }

  h1 {
    font-size: 6rem;
    color: var(--color-dark-grey);
  }

  .admin-buttons {
    right: 1rem;
  }
}
.bubbles-container {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 100%;
  max-width: 15rem;
  transform: translateX(-50%);
  opacity: 0.75;
  overflow: visible;
}

.bubbles {
  width: 100%;
  height: auto;
}
.bubbles circle {
  stroke: white;
  fill: none;
}
.bubbles > g > g:nth-of-type(3n) circle {
  stroke: #87f5fb;
}
.bubbles > g > g:nth-of-type(4n) circle {
  stroke: #8be8cb;
}

.bubbles-large {
  overflow: visible;
}
.bubbles-large > g {
  transform: translateY(2048px);
  opacity: 0;
  will-change: transform, opacity;
}
.bubbles-large g:nth-of-type(1) {
  -webkit-animation: up 6.5s infinite;
          animation: up 6.5s infinite;
}
.bubbles-large g:nth-of-type(1) g {
  transform: translateX(350px);
}
.bubbles-large g:nth-of-type(1) circle {
  -webkit-animation: wobble 5s infinite ease-in-out;
          animation: wobble 5s infinite ease-in-out;
}
.bubbles-large g:nth-of-type(2) {
  -webkit-animation: up 8.25s 250ms infinite;
          animation: up 8.25s 250ms infinite;
}
.bubbles-large g:nth-of-type(2) g {
  transform: translateX(450px);
}
.bubbles-large g:nth-of-type(2) circle {
  -webkit-animation: wobble 5s infinite ease-in-out;
          animation: wobble 5s infinite ease-in-out;
}
.bubbles-large g:nth-of-type(3) {
  -webkit-animation: up 9s 750ms infinite;
          animation: up 9s 750ms infinite;
}
.bubbles-large g:nth-of-type(3) g {
  transform: translateX(700px);
}
.bubbles-large g:nth-of-type(3) circle {
  -webkit-animation: wobble 6s infinite ease-in-out;
          animation: wobble 6s infinite ease-in-out;
}
.bubbles-large g:nth-of-type(4) {
  -webkit-animation: up 8.5s 1.5s infinite;
          animation: up 8.5s 1.5s infinite;
}
.bubbles-large g:nth-of-type(4) g {
  transform: translateX(500px);
}
.bubbles-large g:nth-of-type(4) circle {
  -webkit-animation: wobble 6s infinite ease-in-out;
          animation: wobble 6s infinite ease-in-out;
}
.bubbles-large g:nth-of-type(5) {
  -webkit-animation: up 9.5s 4s infinite;
          animation: up 9.5s 4s infinite;
}
.bubbles-large g:nth-of-type(5) g {
  transform: translateX(675px);
}
.bubbles-large g:nth-of-type(5) circle {
  -webkit-animation: wobble 6s infinite ease-in-out;
          animation: wobble 6s infinite ease-in-out;
}

.bubbles-small {
  overflow: visible;
}
.bubbles-small > g {
  transform: translateY(2048px);
  opacity: 0;
  will-change: transform, opacity;
}
.bubbles-small g circle {
  transform: scale(0);
}
.bubbles-small g:nth-of-type(1) {
  -webkit-animation: up 8.25s infinite;
          animation: up 8.25s infinite;
}
.bubbles-small g:nth-of-type(1) g {
  transform: translateX(350px);
}
.bubbles-small g:nth-of-type(1) circle {
  -webkit-animation: wobble 6s infinite ease-in-out;
          animation: wobble 6s infinite ease-in-out;
}
.bubbles-small g:nth-of-type(2) {
  -webkit-animation: up 8.75s infinite;
          animation: up 8.75s infinite;
}
.bubbles-small g:nth-of-type(2) g {
  transform: translateX(750px);
}
.bubbles-small g:nth-of-type(2) circle {
  -webkit-animation: wobble 3s infinite ease-in-out;
          animation: wobble 3s infinite ease-in-out;
}
.bubbles-small g:nth-of-type(3) {
  -webkit-animation: up 5.25s 250ms infinite;
          animation: up 5.25s 250ms infinite;
}
.bubbles-small g:nth-of-type(3) g {
  transform: translateX(350px);
}
.bubbles-small g:nth-of-type(3) circle {
  -webkit-animation: wobble 3s 250ms infinite ease-in-out;
          animation: wobble 3s 250ms infinite ease-in-out;
}
.bubbles-small g:nth-of-type(4) {
  -webkit-animation: up 5.75s 325ms infinite;
          animation: up 5.75s 325ms infinite;
}
.bubbles-small g:nth-of-type(4) g {
  transform: translateX(180px);
}
.bubbles-small g:nth-of-type(4) circle {
  -webkit-animation: wobble 3s 325ms infinite ease-in-out;
          animation: wobble 3s 325ms infinite ease-in-out;
}
.bubbles-small g:nth-of-type(5) {
  -webkit-animation: up 6s 125ms infinite;
          animation: up 6s 125ms infinite;
}
.bubbles-small g:nth-of-type(5) g {
  transform: translateX(350px);
}
.bubbles-small g:nth-of-type(5) circle {
  -webkit-animation: wobble 3s 250ms infinite ease-in-out;
          animation: wobble 3s 250ms infinite ease-in-out;
}
.bubbles-small g:nth-of-type(6) {
  -webkit-animation: up 5.13s 250ms infinite;
          animation: up 5.13s 250ms infinite;
}
.bubbles-small g:nth-of-type(6) g {
  transform: translateX(650px);
}
.bubbles-small g:nth-of-type(6) circle {
  -webkit-animation: wobble 3s 125ms infinite ease-in-out;
          animation: wobble 3s 125ms infinite ease-in-out;
}
.bubbles-small g:nth-of-type(7) {
  -webkit-animation: up 6.25s 350ms infinite;
          animation: up 6.25s 350ms infinite;
}
.bubbles-small g:nth-of-type(7) g {
  transform: translateX(480px);
}
.bubbles-small g:nth-of-type(7) circle {
  -webkit-animation: wobble 3s 325ms infinite ease-in-out;
          animation: wobble 3s 325ms infinite ease-in-out;
}
.bubbles-small g:nth-of-type(8) {
  -webkit-animation: up 7s 200ms infinite;
          animation: up 7s 200ms infinite;
}
.bubbles-small g:nth-of-type(8) g {
  transform: translateX(330px);
}
.bubbles-small g:nth-of-type(8) circle {
  -webkit-animation: wobble 3s 325ms infinite ease-in-out;
          animation: wobble 3s 325ms infinite ease-in-out;
}
.bubbles-small g:nth-of-type(9) {
  -webkit-animation: up 6.25s 233ms infinite;
          animation: up 6.25s 233ms infinite;
}
.bubbles-small g:nth-of-type(9) g {
  transform: translateX(230px);
}
.bubbles-small g:nth-of-type(9) circle {
  -webkit-animation: wobble 3s 275ms infinite ease-in-out;
          animation: wobble 3s 275ms infinite ease-in-out;
}
.bubbles-small g:nth-of-type(10) {
  -webkit-animation: up 6s 900ms infinite;
          animation: up 6s 900ms infinite;
}
.bubbles-small g:nth-of-type(10) g {
  transform: translateX(730px);
}
.bubbles-small g:nth-of-type(10) circle {
  -webkit-animation: wobble 2s 905ms infinite ease-in-out;
          animation: wobble 2s 905ms infinite ease-in-out;
}

@-webkit-keyframes wobble {
  33% {
    transform: translateX(-50px);
  }
  66% {
    transform: translateX(50px);
  }
}

@keyframes wobble {
  33% {
    transform: translateX(-50px);
  }
  66% {
    transform: translateX(50px);
  }
}
@-webkit-keyframes up {
  0% {
    opacity: 0;
  }
  10%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-1024px);
  }
}
@keyframes up {
  0% {
    opacity: 0;
  }
  10%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-1024px);
  }
}