<input type="text" name="datetimes" />

{{ form_start(form) }}
    {{ form_widget(form) }}
    
    <p class="card-text border"><small class="text-muted">Montant total pour <span id="nuitee">0 nuitée</span></small></p>
    <div id="montant">0 €</div>
    <button class="btn">{{ button_label|default('Réserver') }}</button>
{{ form_end(form) }}
