{% extends 'base.html.twig' %}

{% block title %}New Reservation
{% endblock %}

{% block body %}
	<h2>Create new Reservation</h2>

	{{ include('reservation/_form.html.twig') }}

	<a href="{{ path('app_reservation_index') }}">back to list</a>
{% endblock %}
