{% extends 'base.html.twig' %}

{% block title %}Accueil - Hypnos{% endblock %}

{% block body %}

    <div class="container large-width m-5">
        <div class="row align-items-start"> 
        <img class="logo mx-auto d-block" src="{{ asset('images/logo.PNG') }}" alt="Logo Hypnos" />
                <h1 class="title mx-auto d-block">Conditions Générales d’Utilisation</h1>
<p class="card-text">
Dernière mise à jour : 9 juillet 2021 </p>


<p class="card-text">
1.     Introduction</p>


<p class="card-text">
1.1 Les Conditions Générales d’Utilisation
 constituent un contrat juridiquement contraignant entre HYPNOS et le Vacancier. Les activités d’HYPNOS en Europe sont gérées par la société HYPNOS, 53 Merrion Square South, Suite 303, Dublin 2 D02 PR63, Irlande, numéro d’immatriculation 673084 (« HYPNOS », « nous », « nos », « notre »). HYPNOS est une filiale indirecte de la société HYPNOS Group, Inc. (ci-après « HYPNOS ») sise aux États-Unis. HYPNOS fournit une plateforme en ligne ainsi que différents outils, services et fonctions via sa plateforme (la « Plateforme HYPNOS »), lesquels permettent aux propriétaires et gérants de biens immobiliers de référencer des biens immobiliers, et aux vacanciers de sélectionner des biens immobiliers et d’interagir avec les propriétaires et gérants de biens immobiliers qui référencent ces biens (ensemble, les « Services »). Les Services sont fournis via un URL spécifique à votre pays (via https://www.abritel.fr/) ou via les plateformes ou systèmes de HYPNOS, ainsi que par le biais d’applications mobiles (pour téléphones mobiles, tablettes et autres appareils, quelle que soit leur interface) (ci-après, collectivement, le « Site »). Les paiements de réservation effectués par le biais du Site (les « Services de paiement ») sont gérés par des prestataires de services de paiement tiers et/ou par HYPNOS, 53, Merrion Square South, Dublin 2, D02 PR63, Irlande (« HYPNOS Payments ») ou encore par d’autres sociétés affiliées du Groupe HYPNOS (tel que défini ci-dessous) en fonction de la devise fournie ainsi que des prestataires de services de paiement tiers. Par pure commodité (et pas autrement), lorsque nous utilisons le terme « Groupe HYPNOS » dans les présentes conditions générales, nous faisons référence à HYPNOS, ses filiales et sociétés affiliées, y compris HYPNOS.</p>


<p class="card-text">
1.2 Les présentes conditions générales d’utilisation (les « Conditions Générales d’Utilisation
 ») régissent la relation entre HYPNOS et toute partie consultant ou utilisant le Site ou un quelconque contenu ou service proposé sur le Site, en qualité de vacancier ou vacancier potentiel (le « Vacancier » ou « vous ») et non en qualité de propriétaire ou gérant de biens immobiliers. Le terme Vacancier désigne toute personne utilisant le Site pour obtenir des informations sur des locations de vacances ou pour réserver une location de vacances, que ce soit à des fins personnelles ou professionnelles, auprès de propriétaires ou gérants de biens immobiliers. Les réservations des locations de vacances sont soumises aux présentes Conditions Générales d’Utilisation
; tandis que les réservations d’hôtels sont soumises aux Conditions Générales d‘HYPNOS Partner Solutions.</p>


<p class="card-text">
1.3 Toute utilisation des Services par un Vacancier par le biais d’un Site est régie par les conditions générales HYPNOS du Site sur lequel la réservation est réalisée (et non pas nécessairement celles du Site sur lequel la Location de vacances était initialement référencée). En cas de quelconques contradictions entre les conditions générales du Site sur lequel vous avez trouvé la Location de vacances et les conditions générales du Site sur lequel vous avez réalisé la réservation, les conditions générales du Site sur lequel vous avez réalisé la réservation prévaudront. Si vous n’approuvez pas pleinement les Conditions Générales d’Utilisation
, vous n’êtes pas autorisé(e) à consulter ou utiliser le Site.</p>


<p class="card-text">
 1.4 Seules les personnes ayant la capacité juridique nécessaire pour conclure des contrats juridiquement contraignants sont autorisées par HYPNOS. En conséquence, les Services proposés par le Site ne peuvent être utilisés que par des personnes âgées de 18 ans et plus.</p>


<p class="card-text">
1.5 Certaines sections ou fonctionnalités du Site pourront être uniquement accessibles aux Vacanciers qui ont créé un compte chez nous et qui sont connectés sur celui-ci. HYPNOS pourra permettre aux Vacanciers d’utiliser des prestataires de services d’authentification tiers pour s’inscrire ou se connecter sur HYPNOS, au lieu d’utiliser une adresse email et un mot de passe. Quelle que soit le moyen de connexion choisi par le Vacancier, ce dernier est responsable de l’ensemble des activités menées sur son compte et il est tenu d’assurer la protection du mot de passe de son compte. Le Vacancier doit immédiatement notifier HYPNOS en cas d’utilisation non autorisée de son compte.</p>


<p class="card-text">
1.6 HYPNOS est susceptible de modifier les présentes Conditions Générales d’Utilisation
 de temps en temps pour des raisons telles que des évolutions techniques, des changements d’activité commerciale, l’introduction, la modification ou l’arrêt de produits ou outils, ou lors de nouveautés législatives. Vous serez informé, dans le respect d’un préavis de 30 jours, de tout changement des Conditions Générales d’Utilisation
 ou de notre éventuelle décision d’y mettre fin. Nous vous informerons de tels changements via l’adresse email que vous avez indiquée à HYPNOS. Veuillez visiter cette page périodiquement afin de prendre connaissance de la version la plus récente des Conditions Générales d’Utilisation
.</p>


<p class="card-text">
1.7 HYPNOS peut vous demander de lui faire part directement de vos informations personnelles. Par exemple, il est possible qu’HYPNOS vous demande de fournir vos coordonnées, incluant votre nom complet, votre numéro de téléphone et votre adresse e-mail, cela afin de permettre certaines fonctionnalités telles que votre réservation de Location de vacances. Pour plus d’informations sur cette collecte de données personnelles et sur vos droits, veuillez consulter notre Politique de confidentialité et notre Politique relative aux cookies. Si vous avez communiqué votre numéro de téléphone, veuillez noter que, conformément à votre législation locale, vous avez la possibilité de vous inscrire sur une liste d’opposition. Ainsi en France, vous pouvez vous inscrire sur la liste Bloctel.</p>


<p class="card-text">
2. Généralités</p>


<p class="card-text">
2.1 Le présent Site est une plateforme où les Vacanciers peuvent consulter des annonces de location de vacances (les « Locations de vacances ») proposées par d’autres personnes, y compris des propriétaires, locataires ou gérants de biens immobiliers (désignés ci-après quand ils sont pris respectivement, « Hôte » et, pris collectivement avec un Vacancier, les « Utilisateurs »), ou obtenir des informations sur ces Locations de vacances. Nous pourrions également proposer d’autres outils ou services permettant aux Utilisateurs de communiquer et de conclure des contrats de location ou d’autres transactions entre eux.</p>


<p class="card-text">
2.2 Le Site se définit uniquement comme un espace permettant aux Utilisateurs d’échanger entre eux. Les contrats de location sont conclus entre le Vacancier et l’Hôte exclusivement. HYPNOS n’est pas et ne deviendra pas partie aux relations contractuelles entre le Vacancier et l’Hôte. De plus, HYPNOS, en son statut d’hébergeur Web n’est pas d’intervenir en qualité de médiateur entre le Vacancier et l’Hôte en cas de quelconque différend entre eux. Vous reconnaissez et convenez que le Vacancier et l’Hôte sont responsables de remplir leurs obligations en vertu de tels contrats, et que HYPNOS n’est aucunement partie à de tels contrats conclus entre l’Hôte et le Vacancier, n’agit pas en tant qu’agent des Hôtes, et rejette toute responsabilité résultant de ces contrats même si le Site facilite la réservation d’une Location de vacances ou l’utilisation d’autres outils, services ou produits étant donné que HYPNOS n’est partie à aucun contrat de location ou autre entre un Vacancier et un Hôte et que les Hôtes ne sont en aucun cas des prestataires de service de HYPNOS. HYPNOS n’est pas un organisateur ou un détaillant de voyages à forfait au sens de la directive (UE) 2015/2302 relative aux voyages à forfait. Par ailleurs, eu égard à la distribution de Locations de vacances sur des sites n’appartenant pas à la marque HYPNOS, HYPNOS n’agit pas en qualité de commerçant aux fins de prestations de voyages liées au sens de la directive (UE) 2015/2302.</p>


<p class="card-text">
2.3 Les Hôtes peuvent être soit des propriétaires particuliers, agissant de consommateur à consommateur, soit des gestionnaires immobiliers agissant de professionnel à consommateur. Si vous concluez un contrat de location avec un propriétaire particulier, sachez que le droit de la consommation ne s’appliquera pas à votre contrat de location conclu avec ledit propriétaire particulier. L’Hôte est seul responsable de déterminer s’il exerce ou non une activité professionnelle, ainsi que de toute éventuelle déclaration qu’il pourrait faire aux Vacanciers en ce qui concerne son statut.</p>


<p class="card-text">
2.4 Les Vacanciers conviennent qu’ils sont responsables de se conformer à toutes les lois, règles et réglementations applicables à leur utilisation du Site et de tous outils, produits ou services proposés sur le Site, ainsi qu’à toute transaction qu’ils effectuent sur le Site ou associée à leur utilisation du Site, et ils conviennent de s’y conformer. Les Vacanciers sont informés que les Hôtes sont responsables de se conformer à toutes les lois, règles et règlementations applicables à leur annonce, à leur Location de vacances et à l’exercice de leurs activités de location, et qu’ils acceptent de s’y conformer. Veuillez noter que, même si HYPNOS n’est partie à aucune transaction de location et, dans la mesure autorisée par la loi, décline toute responsabilité pour la conformité à toutes lois ou réglementations applicables à une quelconque Location de vacances référencée sur le Site, il peut exister des circonstances dans lesquelles HYPNOS pourrait être tenu) de fournir des informations concernant une quelconque Annonce et, ce afin de nous conformer aux demandes d’organismes publics ou réglementaires dans le cadre de quelconques procédures d’enquête, de litige ou de procédures administratives.</p>


<p class="card-text">
Frais de Service facturés au Vacancier</p>


<p class="card-text">
2.5 Des frais de service sont facturés par HYPNOS au Vacancier(ci-après les « Frais de Service ») au travers de la procédure de paiement HYPNOS lors de la réservation d’une Location de vacances sur la Plateforme HYPNOS. Ces frais de service correspondent communément à un pourcentage du montant total de la location (ce montant total peut inclure des frais additionnels, et un dépôt de garantie, facturés par l’Hôte). Le Vacancier reconnaît et accepte expressément que le droit de rétractation est exclu en application de l’article L.221-28, 12° du Code de la consommation. Les Frais de Service, plus les éventuelles taxes applicables à ceux-ci en fonction de la juridiction compétente, seront indiqués au Vacancier au moment de la réservation et avant le paiement final. En fonction du droit applicable dans le pays de résidence du Vacancier et/ou de l’Hôte, une TVA, une taxe de séjour ou toutes autres taxes indirectes équivalentes applicables pourraient être ajoutées aux Frais de Service (ou incluses à ces derniers). Les Frais de Service pourront faire l’objet d’un remboursement uniquement dans le cas où l’Hôte accepte l’annulation de la réservation du Vacancier et rembourse le montant total de la location. L’Hôte s’engage à ne pas encourager ni conseiller le Vacancier à contourner ou éviter le paiement des Frais de Service facturés par HYPNOS, et le Vacancier s’engage à ne pas contourner ou éviter le paiement des Frais de Service.</p>


<p class="card-text">
2.6 HYPNOS pourrait être dans l’obligation de collecter et de reverser des taxes (y compris la TVA, des taxes à la consommation et d’autres taxes équivalentes) sur les Frais de Service. Le cas échéant, HYPNOS enverra au Vacancier une facture indiquant le montant des taxes facturées sur ces Frais de Service. Si le Vacancier est en droit de bénéficier d’une exonération de toutes taxes indirectes, ou de leur équivalent, sur les Frais de service, il doit fournir à HYPNOS les justificatifs d’une telle exonération.</p>


<p class="card-text">
2.7 Si le Vacancier est un voyageur d’affaires assujetti à la TVA ou un employé d’une entreprise qui remboursera la TVA facturée, il doit communiquer à HYPNOS un numéro de TVA valide et son adresse de facturation associée afin que HYPNOS applique un mécanisme d’autoliquidation (« reverse charge ») de la TVA, le cas échéant, concernant les Frais de service. Si le Vacancier a une adresse de facturation en Irlande, la procédure de « reverse charge » ne sera pas applicable et la TVA irlandaise s’appliquera.</p>


<p class="card-text">
Taxe de séjour</p>


<p class="card-text">
2.8 Collecte et reversement de la Taxe de séjour (comme définie ci-dessous):les lois varient d’une juridiction à l’autre, mais de telles taxes peuvent être collectées et reversées sur le fondement d’un pourcentage du montant de la location fixé par l’Hôte, d’un montant journalier fixe, d’un montant calculé en fonction du le nombre de personnes du groupe occupant la Location de vacances ou d’une variante de ces montants, et ces taxes sont parfois appelées « taxe de séjour transitoire », « taxe hôtelière », « taxe au logement », « taxe municipale », « taxe à la chambre » ou « taxe de tourisme » (ci-après la « Taxe de séjour »). Les Vacanciers sont responsables du paiement de la Taxe de séjour. Dans certaines juridictions, comme la France, seuls les voyageurs âgés de 18 ans et plus sont redevables du paiement de la Taxe de séjour. D’autres exceptions au paiement de la taxe de séjour pourraient s’appliquer (par exemple, en France, pour les titulaires d’un contrat de travail saisonnier employés dans la commune, les personnes bénéficiant d’un hébergement d’urgence ou d’un relogement temporaire ou encore les personnes qui occupent des locaux dont le loyer est inférieur à un montant que le conseil municipal local détermine), auquel cas le Vacancier pourrait demander un remboursement auprès de l’autorité locale en charge de collecter la taxe de séjour. Dans certaines juridictions, lorsque la loi et/ou les dispositions réglementaires l’autorisent, HYPNOS collecter directement et de reverser la Taxe de séjour pour le compte des Hôtes. Dans ce cas, les Hôtes n’auront pas d’action à prendre pour collecter cette Taxe auprès des Vacanciers ni pour la reverser à la commune locale. Dans les juridictions dans lesquelles une telle procédure de collecte sera mise en œuvre, l’Hôte mandate et autorise par la présente HYPNOS à collecter pour son compte la Taxe de séjour auprès des Vacanciers et à procéder aux déclarations nécessaires auprès de la commune locale, y compris le reversement de ladite taxe. Conformément à l’Article L2333-33 du Code général des collectivités territoriales, cette collecte de la Taxe de séjour par HYPNOS sera progressivement généralisée à toutes les réservations de Locations de vacances situées sur toutes les communes françaises ayant instauré la collecte et le reversement d’une taxe de séjour au réel.</p>


<p class="card-text">
2.9 Le Site est constitué d’Annonces de Location de vacances fournies par des Hôtes et de contenus fournis par d’autres parties. Ces contenus relèvent de la responsabilité de l’Hôte ou du tiers ayant créé lesdits contenus. Dans la mesure autorisée par la loi nous ne pouvons en aucun cas être tenus responsables de tels contenus étant donné que notre service consiste uniquement à vous fournir un accès à ces contenus et que notre rôle consiste simplement à vous fournir les moyens de communiquer directement avec l’Hôte pour obtenir des informations sur une Location de vacances et de la réserver directement auprès de l’Hôte. Toutes les réservations que vous effectuez sont faites par vos soins directement auprès de l’Hôte, et votre contrat de location sera conclu exclusivement entre l’Hôte et vous. Ce contrat régira votre droit à occuper et utiliser la Location de vacances et pourrait contenir des obligations de payer des frais et taxes supplémentaires. HYPNOS ne sera aucunement partie au contrat de location et, dans la mesure autorisée par la loi HYPNOS n’a aucune responsabilité envers vous pour la mise à disposition de la location par l’Hôte. En notre qualité d’hébergeur, nous n’approuvons, ne soutenons ni ne garantissons d’aucune manière l’authenticité, l’exactitude ou la fiabilité des informations contenues dans les Annonces du Site, ni des divers contenus ou opinions affichés par des tiers. Outre les dispositions de l’article 10 ci-après et conformément à son statut d’hébergeur, HYPNOS retirera un contenu ou en rendra l’accès impossible s’il vient à avoir connaissance de son caractère illicite, notamment si ce caractère illicite lui est notifié de façon formelle.</p>


<p class="card-text">
2.10 HYPNOS autorise les Vacanciers à indiquer des prix sur le Site dans la devise de leur choix et peut également leur permettre de payer dans la devise souhaitée. En général, les différentes options en matière de devise sont basées sur les taux de change accessibles au public et il n’est pas garanti que ce soient les meilleurs taux disponibles. Si la devise que vous avez choisie n’est pas prise en charge pour une réservation, vous serez facturé dans la devise sélectionnée par le Propriétaire. Dans tous les cas, la devise et le montant exact que vous verserez s’afficheront clairement dans le processus de paiement. Notre rénumération générale peut être affectée par la devise dans laquelle vous avez choisi d’effectuer le paiement. Veuillez noter que si vous payez dans une autre devise que celle de votre carte, votre banque ou fournisseur de carte peuvent vous facturer des frais pour le traitement des transactions de change ou d’autres frais. </p>


<p class="card-text">
3. Annonces de Location de vacances et interaction avec un Hôte</p>


<p class="card-text">
3.1 Les Vacanciers sont informés que les Hôtes sont intégralement responsables de l’ensemble des informations, notamment toutes images et tous textes et autres contenus, relatives aux Locations de vacances qu’ils proposent (les « Annonces »), ainsi que de les mettre à jour et de vérifier (le cas échéant) qu’elles sont correctement traduites.</p>


<p class="card-text">
3.2 Si un Vacancier est intéressé par une Location de vacances, il peut envoyer une demande d’informations (une « Demande d’informations ») à l’Hôte. Nous sommes susceptibles de vous envoyer de temps à autre des lettres d’information par email destinées à vous présenter les services que nous et le Groupe HYPNOS proposons. Les Vacanciers auront le choix de recevoir ou non nos communications par email, et peuvent à tout moment annuler leur abonnement à ces newsletters via le Centre des préférences de communication. Toutes modifications de vos préférences de Vacancier peuvent prendre un certain temps avant de prendre effet.</p>


<p class="card-text">
3.3 Le Vacancier recevra une confirmation de HYPNOS une fois sa Demande d’informations envoyée à l’Hôte.</p>


<p class="card-text">
3.4 L’Hôte peut alors communiquer directement avec le Vacancier concernant sa Demande d’informations, et le Vacancier et l’Hôte peuvent également communiquer entre eux via le Site (et via d’autres outils sur la Plateforme HYPNOS).</p>


<p class="card-text">
3.5 Le service de réservation en ligne, permet au Vacancier d’effectuer sa réservation en ligne, laquelle réservation doit être acceptée ou refusée par l’Hôte dans un délai de 24 heures, à moins que l’Hôte n’ait autorisé la réservation instantanée. Pour les paiements en ligne, le Vacancier dont la réservation a été confirmée par l’Hôte peut régler le montant de sa réservation en ligne via les Services de paiement associés à notre service de réservation, à l’exclusion de tout autre système de paiement. Dans le cadre des Services de paiement, les paiements par carte de crédit en ligne sont traités via la passerelle de paiements offerte soit par (1) nos prestataires de paiement tiers ; (2) HYPNOS Payments (pris en charge par un prestataire de services de paiement tiers) ; ou (3) dans le cas de certains Hôtes intégrés, par leurs propres prestataires de paiement tiers.</p>


<p class="card-text">
Les Service de paiement en ligne sont soumis aux conditions générales des prestataires de paiement tiers et/ou dans le cas d’HYPNOS Payments, aux termes de la Convention d’encaissement des frais de séjour, et le Vacancier reconnait et accepte que (à l’exception des obligations d’HYPNOS Payments en vertu de la Convention d’encaissement des frais de séjour)HYPNOS n’exerce aucun contrôle sur le service et n’en est aucunement responsable.</p>


<p class="card-text">
3.6 Les Hôtes qui acceptent des informations de carte de crédit provenant de vacanciers se sont engagés à sauvegarder et à gérer de manière appropriée toute information de ce type, conformément aux exigences légales applicables et aux prescriptions réglementaires, ainsi qu’aux meilleures pratiques.</p>


<p class="card-text">
3.7 Les communications entre Vacanciers et Hôtes par le biais de la Plateforme</p>


<p class="card-text">
HYPNOS ne doivent inclure aucune adresse électronique ni aucun numéro de téléphone. Veuillez noter que toutes communications sur le Site (ou via tout outil fourni sur le Site tel que la Plateforme HYPNOS) sont accessibles pour examen par le Vacancier et l’Hôte étant partie des communications, ainsi que pour examen par les employés et représentants de HYPNOS, pour satisfaire à ses obligations en sa qualité d’hébergeur, et pour surveiller l’éducation des Vacanciers et Hôtes quant à l’utilisation correcte de la Plateforme HYPNOS, l’identification de fraudes potentielles, et la conformité avec les Conditions Générales d’Utilisation des Vacanciers. HYPNOS garde une copie de tous les</p>


<p class="card-text">
e-mails envoyés et reçus via ce service</p>


<p class="card-text">
3.8 Seuls l’Hôte et le Vacancier sont responsables du contenu de leurs communications.</p>


<p class="card-text">
4. Positionnement et affichage dans les Résultats de Recherche</p>


<p class="card-text">
HYPNOS ne peut pas garantir qu’une Annonce apparaîtra dans un ordre spécifique dans les résultats de recherche sur le Site. L’ordre de recherche varie automatiquement selon les filtres de recherche utilisés par les Vacanciers, les préférences du Vacancier, ainsi que le classement par défaut de la propriété qui pourrait être déterminé par les caractéristiques de la propriété et la qualité de l’expérience offerte. Les caractéristiques de la propriété sont évaluées selon plusieurs critères, tels que les retours des Vacanciers, les commodités offertes, et la situation géographique de la propriété. La qualité de l’expérience est basée sur plusieurs critères tels que l’exactitude du calendrier de l’annonce, les délais de réponse de l’Hôte, le taux d’acceptation des réservations, la cohérence des prix, le taux d’annulation de l’Hôte et l’expérience de qualité du séjour. La position d’une Annonce dans les résultats de recherche peut aussi être impactée par la participation au programme Boost, qui permet à certains Hôtes d’utiliser des « Points Bonus », attribués dans le cadre du programme, pour améliorer la position de leur annonce dans les résultats de recherche. Si l’Hôte a choisi la formule Annonces par Abonnement, les résultats de recherche pourraient également varier en fonction des critères de recherche utilisés par un Vacancier particulier. Il se peut que certaines nouvelles annonces s’affichent dans des encarts spécifiques sur la première page. HYPNOS se réserve le droit d’employer automatiquement différents algorithmes de recherche ou d’utiliser différentes méthodes pour optimiser les résultats du classement par défaut et maximiser la satisfaction des Vacanciers et des internautes en général. Nous n’offrons aucune garantie que les Annonces distribuées sur des sites n’appartenant pas à la marque HYPNOS s’afficheront sur de tels sites ou quelles s’afficheront selon un classement particulier. Les résultats de recherche et leur classement pourraient s’afficher dans un ordre différent sur l’application mobile de HYPNOS et sur son Site internet. Afin d’optimiser l’expérience de recherche, tant pour les Hôtes que pour les Vacanciers, et d’améliorer le classement par défaut, HYPNOS se réserve le droit d’effectuer occasionnellement des tests qui seront de durée limitée mais pourraient modifier la manière dont les Annonces sont affichées, ainsi que les résultats de recherche.</p>


<p class="card-text">
5.Inscription et création de Compte</p>


<p class="card-text">
5.1 Si le Vacancier souhaite utiliser l’ensemble des services proposés sur le Site, il doit s’inscrire sur le Site. Une telle inscription est réservée aux personnes habilitées à conclure un contrat juridiquement contraignant. À la fin de cette procédure d’inscription, un compte d’utilisateur pour le Site (un « Compte ») sera créé.</p>


<p class="card-text">
5.2 Pour obtenir un Compte, le Vacancier doit suivre les instructions de HYPNOS pendant la procédure d’inscription. Vous pouvez ouvrir un Compte à l’aide d’une adresse électronique personnelle, ou en saisissant l’adresse email et le nom utilisés pour les prestataires de services d’authentification tiers compatibles avec l’inscription HYPNOS.</p>


<p class="card-text">
5.3 Le Compte du Vacancier inclut des informations susceptibles d’être rendues publiques aux autres Utilisateurs du Site. Un Compte comprend, entre autres :</p>


<p class="card-text">
·   une page dédiée, appelée « Mon Profil », sur laquelle le nom de profil du Vacancier est un champ à remplir obligatoirement. Les autres informations personnelles et de voyage sont facultatives et fournies à la discrétion du Vacancier ;</p>


<p class="card-text">
·   la possibilité de créer un tableau de voyage pour sauvegarder, organiser et partager des informations sur les propriétés ;</p>


<p class="card-text">
·   la possibilité de soumettre des appréciations au sujet des Locations de vacances dans lesquelles vous avez séjourné ;</p>


<p class="card-text">
·   la possibilité de créer un lien aux prestataires de services d’authentification tiers du Vacancier. Si le Vacancier se connecte sur un Compte ou crée un lien avec ce dernier par le biais desdits prestataires de services d’authentification tiers, le Vacancier accepte de transférer son adresse email et son nom utilisés par lesdits prestataires de services d’authentification tiers ; et ;</p>


<p class="card-text">
·   un lien vers Appréciations de l’Hôte (telles que définies ci-après).</p>


<p class="card-text">
5.4 La réglementation fiscale pourrait nous imposer de collecter des informations fiscales auprès des Vacanciers. Le Vacancier est responsable de vérifier que toutes les informations qu’il nous fournit sont exactes, complètes et à jour.</p>


<p class="card-text">
5.5 Le Vacancier peut désactiver son Compte à tout moment et également désactiver le lien entre son Compte et sa page publique desdits prestataires de services d’authentification tiers à tout moment, en allant directement sur la page des paramètres de son profil. Le Vacancier reconnaît et accepte que, même s’il désactive son Compte, le Groupe HYPNOS pourrait conserver certaines données. Le Vacancier reconnaît et accepte l’utilisation de ses données comme indiqué dans la Politique de confidentialité et la Notice relative aux cookies. Le Vacancier reconnaît et accepte également que les données relatives à ses séjours réservés via le Site que vous avez accepté de rendre publiques via le Groupe HYPNOS pourraient être transmises et figurer sur d’autres sites, par exemple Google dans l’hypothèse où les moteurs de recherche de Google copient le contenu de sites ou systèmes du Groupe HYPNOS. Pour plus d’informations sur vos droits en matière de protection de la vie privée (notamment l’accès ou la suppression des données personnelles), veuillez-vous reporter à notre Déclaration sur la protection des données.</p>


<p class="card-text">
5.6 HYPNOS utilise également Google Analytics pour obtenir des statistiques sur l’utilisation du Site. Ceci est expliqué de manière détaillée dans la  Politique de confidentialité et la Politique relative aux cookies, ainsi que dans la politique de confidentialité de Google. Google pourrait agréger des données qu’il collecte au travers de ses différents services, y compris Google Analytics, Google Traduction, Google Maps et YouTube. Les Vacanciers reconnaissent et acceptent que le Groupe HYPNOS ne maîtrise pas les collectes de données effectuées par Google.</p>


<p class="card-text">
5.7 HYPNOS ne propose aucun programme de fidélité ou de récompense sur les Sites de la marque HYPNOS. Néanmoins, il est possible que les annonces affichées sur des sites n’appartenant pas à la marque HYPNOS soient éligibles aux programmes de fidélité proposés sur ces sites, en vertu des conditions générales d’utilisation desdits sites.</p>


<p class="card-text">
6. Droits et obligations de HYPNOS</p>


<p class="card-text">
6.1 HYPNOS fera tout son possible pour que toutes photographies fournies par l’Hôte s’affichent sur le Site d’une manière aussi fidèle que possible à l’original. Le Vacancier reconnaît toutefois que les photos, telles qu’affichées dans les Annonces, pourraient différer légèrement des images originales lorsqu’il s’agit du scan d’images non-numériques, ou en raison de différences de réglage des écrans employés pour les visualiser, et que HYPNOS décline toute responsabilité concernant de telles différences.</p>


<p class="card-text">
6.2 De plus, vous reconnaissez que l’Hôte et non HYPNOS (dans la mesure autorisée par la loi) est responsable de l’exactitude avec laquelle les images et descriptifs fournis représentent la Location de vacances en question.</p>


<p class="card-text">
6.3 Il est difficile d’identifier un Utilisateur sur Internet, et HYPNOS ne peut assumer et décline l’entière responsabilité de vérifier la prétendue identité de chaque utilisateur. HYPNOS recommande aux Vacanciers et aux Hôtes d’échanger directement en utilisant les outils disponibles sur le Site, même si cela ne permet aucunement de vérifier l’identité des personnes avec lesquelles ils échangent. HYPNOS recommande également aux Vacanciers de prendre toutes autres mesures raisonnables pour vérifier l’identité des Hôtes et de vérifier les informations publiées sur le Site par tout Hôte concernant une Location de vacances, ainsi que le détail d’une réservation confirmée ou proposée. Le Vacancier convient (i) de protéger la confidentialité de ses données de connexion au Site (identifiant et mot de passe) et à son compte de messagerie (identifiant et mot de passe) et de ne les divulguer qu’à des tiers autorisés, (ii) d’instruire adéquatement toute personne à laquelle le Vacancier confie ses identifiant et mot de passe afin que ladite personne ne les divulgue à aucun tiers non autorisés, (iii) de nous contacter immédiatement et de sélectionner un nouvel identifiant et un nouveau mot de passe en ligne si le Vacancier pense qu’un tiers non autorisé a pris connaissance du mot de passe de son compte ou de son compte de messagerie auprès de HYPNOS, et (iv) d’informer immédiatement HYPNOS si le Vacancier est contacté par un quelconque tiers demandant de lui communiquer son identifiant et son mot de passe. En outre, si HYPNOS suspecte qu’un tiers non autorisé a accès au compte du Vacancier, le Vacancier convient, sur simple demande de HYPNOS, de changer sans délai son identifiant et son mot de passe et de prendre toutes autres mesures requises par HYPNOS à cet égard. HYPNOS déconseille vivement au Vacancier de communiquer à qui que ce soit son identifiant et son mot de passe concernant son compte ou sa messagerie personnelle. Toutefois, si le Vacancier communique son identifiant et son mot de passe ou manque à ses obligations de protection de ces informations de manière sécurisée, le Vacancier sera responsable de toute transaction effectuée par un tiers utilisant son identifiant et son mot de passe, de son compte ou de sa messagerie personnelle, même si cette transaction est frauduleuse et/ou si le Vacancier ne cherchait pas à la réaliser ou à ce qu’elle soit exécutée, et HYPNOS ne pourra en aucun cas être tenu responsable envers vous dans une telle hypothèse ;</p>


<p class="card-text">
6.4 Le Vacancier reconnaît que HYPNOS n’est pas responsable de vérifier l’identité ou les actes des Hôtes, ni d’établir la nature, condition ou existence d’une Location de vacances.</p>


<p class="card-text">
6.5 HYPNOS peut, lorsque c’est nécessaire (y compris pour empêcher un comportement frauduleux d’une tierce partie et dans le cas d’une plainte, d’une réclamation ou d’un litige potentiel), divulguer une part proportionnelle des informations personnelles du vacancier à toute Tierce Partie pertinente ayant demandé de telles informations formellement par écrit via son représentant légal, une autorité compétente ou par le biais d’une décision judiciaire, d’une assignation à comparaître ou d’un mandat.</p>


<p class="card-text">
7. Propriété intellectuelle</p>


<p class="card-text">
7.1 Tout contenu apparaissant sur le Site est protégé par les droits d’auteur et les droits relatifs aux bases de données. Toute reproduction partielle ou totale du Site, y compris toute copie de textes, d’éléments visuels ou de designs, est interdite.</p>


<p class="card-text">
7.2 Les Vacanciers sont en droit de télécharger, d’afficher et d’imprimer certaines pages du Site pour justifier de leur contrat avec HYPNOS et de conserver une copie de leurs réservations. La mention « © 2020 HYPNOS.com, Inc. une société d’HYPNOS Group. Tous droits réservés » doit clairement figurer dans le fichier en question ou sur l’impression concernée.</p>


<p class="card-text">
7.3 Lorsqu’il publie ou transmet des contenus, de quelque nature que ce soit, y compris textes et images, par l’intermédiaire du Site (ou de la Plateforme ou des systèmes HYPNOS), le Vacancier déclare en détenir les droits nécessaires.  </p>


<p class="card-text">
7.4 Si des marques déposées ou d’autres noms de propriétaires et autres marques figurent dans les Appréciations du Vacancier ou dans d’autres contenus qu’il publie, le Vacancier déclare en détenir les droits nécessaires.</p>


<p class="card-text">
7.5 En publiant du Contenu (tel que défini ci-dessous) sur le Site, le Vacancier, tout en conservant l’ensemble de ses droits de propriété sur le Contenu, concède à HYPNOS, HYPNOS, Groupe HYPNOS et leurs filiales et sociétés affiliées, pour la durée de protection légale des droits afférents au Contenu, et au fur et à mesure de sa publication sur le Site ou tout autre média, en vertu des présentes, une licence non-exclusive et mondiale sur ses droits de propriété intellectuelle, ceci incluant (mais sans s’y limiter) les droits d’auteur et les droits des marques, sur le Contenu dont la nature est définie ci-dessous, et en vue de procéder aux Exploitations autorisées telles que définies ci-dessous.</p>


<p class="card-text">
i) « Contenu » signifie les textes, descriptions, avis, photographies, images et autres contenus que le Vacancier poste sur le Site.</p>


<p class="card-text">
ii) La nature des « Droits conférés » consiste en une autorisation non exclusive, gratuite, cessible et irrévocable pendant la durée de publication du Contenu sur le Site ou tout autre média en vertu des présentes, de reproduire, traduire, distribuer, publier, afficher publiquement et utiliser le Contenu dans le monde entier.</p>


<p class="card-text">
iii) « Exploitations autorisées » signifie la reproduction, la traduction, la distribution, la publication, l’affichage public ou l’utilisation du Contenu sur le Site, sur les sites internet, et dans les supports et initiatives marketing de HYPNOS, HYPNOS, et de leurs filiales et sociétés affiliées, dans le but de publier, annoncer et promouvoir la Propriété elle-même et sur des sites internet tiers, et de permettre l’exécution de tout accord passé entre HYPNOS, HYPNOS, et/ou leurs filiales ou sociétés affiliées.</p>


<p class="card-text">
8. Compte, communications et Appréciations du Vacancier</p>


<p class="card-text">
8.1 Le Vacancier est tenu de fournir des renseignements exacts en ce qui concerne son identité personnelle, y compris son pays de résidence, au sein de son Compte, sur son profil d’utilisateur et dans toute autre communication effectuée sur le Site, y compris dans ses Appréciations sur des Locations de vacances.</p>


<p class="card-text">
8.2 Les messages envoyés par l’intermédiaire des systèmes de HYPNOS doivent uniquement concerner de véritables Demandes d’informations. Nous ne tolérons pas les spams ou les communications électroniques commerciales non sollicitées, de quelque nature que ce soit. Il est interdit d’abuser des systèmes HYPNOS, tel que par l’envoi de communications commerciales non sollicitées (spam), et de divulguer les données personnelles d’utilisateurs à des tiers sans l’autorisation expresse de l’utilisateur concerné. L’envoi de courriers électroniques et de recommandations du Site via la fonction « Recommander ce site » doit être effectué uniquement avec le consentement du destinataire.</p>


<p class="card-text">
8.3 Le Vacancier qui a réservé sur le Site a la possibilité de publier sur le Site ses propres appréciations sur la Location de vacances d’un Hôte (les « Appréciations du Vacancier »), et l’Hôte peut consulter les Appréciations du Vacancier et y répondre (la « Réponse de l’Hôte »). Plus de détails concernant les Appréciations du Vacancier et la Réponse de l’Hôte sont disponibles ici. L’Hôte a lui aussi la possibilité de publier son appréciation sur le séjour du Vacancier (les « Appréciations de l’Hôte ») et ces Appréciations de l’Hôte peuvent être consultées par tous les Hôtes avec lesquels le Vacancier entre en contact.</p>


<p class="card-text">
Une fois que le Vacancier ou l’Hôte soumet une Appréciation, l’autre partie a 14 jours pour soumettre une réponse. En vertu de l’article 6.I.2 de la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique (LCEN), HYPNOS, en tant qu’hébergeur, devra retirer tout Contenu illicite dont il a connaissance ou dont l’existence lui serait notifiée formellement. De plus, sous réserve d’une notification préalable au Vacancier, HYPNOS pourrait refuser de publier un contenu, ou le retirer, s’il n’est pas conforme aux Recommandations relatives au contenu. Les vacanciers peuvent faire appel à la décision de retirer du contenu en contactant le Service Client.</p>


<p class="card-text">
HYPNOS décline expressément toute responsabilité quant aux Appréciations du Vacancier et de l’Hôte, sous réserve de son obligation en vertu de son statut de fournisseur d’hébergement (par exemple, retrait de tout Contenu notifié comme illégal). Le Vacancier reconnaît et convient que HYPNOS pourrait permettre à tous autres Hôtes avec lesquels le Vacancier est en contact via le Site de consulter de telles Appréciations de l’Hôte. Plus de détails concernant les Appréciations de l’Hôte sont disponibles ici.</p>


<p class="card-text">
8.4 Veuillez prendre note du fait que HYPNOS ne vérifie ni l’exactitude ni la véracité des Appréciations du Vacancier, des Réponses de l’Hôte et des Appréciations de l’Hôte, et n’a pas la capacité de le faire.</p>


<p class="card-text">
8.5 Toutefois, HYPNOS exige que toutes Appréciations du Vacancier, Réponses de l’Hôte, Appréciations de l’Hôte, et autres communications adressées via le système de HYPNOS soient conformes aux Recommandations relatives au contenu, et elle pourrait refuser de les publier ou les retirer si elles ne sont pas conformes. HYPNOS n’éditera ni ne modifiera les Appréciations pour le compte d’un Vacancier ou d’un Hôte. Tout Vacancier ou Hôte pourra contacter le Service Client pour retirer leurs appréciations ayant été publiées. Les vacanciers peuvent faire appel à la décision de retirer du contenu en contactant le Service Client.</p>


<p class="card-text">
HYPNOS informera au préalable l’utilisateur, par courrier électronique ou autre moyen de communication individuel équivalent, des raisons ayant conduit au refus de publication ou à la suppression de l’appréciation. L’utilisateur pourra formuler ses observations à HYPNOS le cas échéant.</p>


<p class="card-text">
Le Vacancier convient de respecter toutes législations relatives aux exportations et aux embargos. De plus, le Vacancier déclare qu’il ne figure sur aucune liste du gouvernement des États-Unis répertoriant des parties interdites sur le territoire américain, et qu’il a l’âge légal pour conclure des contrats avec HYPNOS.</p>


<p class="card-text">
8.6 HYPNOS ne procède de manière générale à aucune vérification d’identité. Si le Vacancier suspecte qu’un Hôte lui a fourni des informations frauduleuses, il est invité à en aviser HYPNOS en contactant la page d’Aide.</p>
<p class="card-text">
8.7 HYPNOS applique sa applique sa Politique de confidentialité. Pour plus d’informations, veuillez consulter la Politique de confidentialité. Le Vacancier consent à ce que ses données soient utilisées de la manière décrite dans la Politique de confidentialité. Les Vacanciers sont informés que de manière générale, les Hôtes ont généralement autorisé HYPNOS à publier leurs coordonnées, y compris leurs numéros de téléphone, à l’attention de Vacanciers et à condition que cela soit en rapport avec la réservation d’une Location de vacances. Le Vacancier peut demander à recevoir ces informations sur présentation d’un justificatif de réservation ; autrement, de telles informations peuvent être fournies au Vacancier par le biais de son Compte.</p>


<p class="card-text">
9. Interdictions</p>


<p class="card-text">
Le Vacancier n’est pas autorisé à, directement ou indirectement :</p>


<p class="card-text">
·   Exploiter, copier, distribuer, reproduire, modifier, traduire, rendre publiquement accessibles ou décompiler le Site, son contenu, toute base de données intégrée au Site, et tout autre élément similaire, de quelque manière que ce soit, à l’aide d’appareils automatiques ou par le biais de procédures manuelles ;</p>


<p class="card-text">
·   Contrôler le contenu du Site ou la Plateforme ou les systèmes HYPNOS à l’aide de robots, spiders ou autres instruments automatiques ; sous réserve, cependant, qu’une exception à ce qui précède soit prévue à la fois en ce qui concerne les moteurs de recherche généralistes sur Internet (à l’exclusion de tout site Internet, moteur de recherche ou autre service proposant des petites annonces ou faisant de la publicité concernant des propriétés à louer, ou tout autre sous-ensemble de ce qui précède ou dont l’activité consiste à fournir d’autres services concurrents à ceux du Site ou de HYPNOS), et en ce qui concerne tous systèmes d’archivage publics non-commerciales utilisant des outils de collecte d’informations dans le but exclusif d’afficher des liens de connexion au Site, sous réserve, cependant, que chacun d’eux l’effectue à partir d’une adresse IP ou d’une série d’adresses IP stable en utilisant un agent facilement identifiable et compatible avec le fichier robots.txt de HYPNOS;</p>


<p class="card-text">
·   Utiliser le Site, la Plateforme, les systèmes de HYPNOS à des fins autres que celles autorisées par les présentes Conditions Générales d’Utilisation
 ;</p>


<p class="card-text">
·   Utiliser le Site ou les outils et services disponibles sur le Site pour réserver ou solliciter la location d’un bien immobilier autre que celui affiché dans une Annonce valable ;</p>


<p class="card-text">
·   Reproduire une quelconque portion du Site sur un autre site Internet ou autrement, à l’aide de quelque procédé que ce soit, notamment, en utilisant un cadre ou une bordure entourant le Site ou en employant toute autre technique d’encadrement permettant d’encercler toute portion ou tout aspect du Site, ou en reproduisant à l’identique ou en dupliquant toute portion du Site ;</p>


<p class="card-text">
·   Charger sur le Site ou envoyer sur le Site (ou sur la Plateforme ou des systèmes de HYPNOS) tous contenus ou programmes qui pourraient endommager les systèmes et le réseau de HYPNOS ;</p>


<p class="card-text">
·   Publier sur le Site (ou sur la Plateforme ou des systèmes de HYPNOS) un contenu en infraction à une quelconque législation pénale ou à toute autre loi applicable, ou inciter quiconque à commettre une telle infraction ;</p>


<p class="card-text">
·   Utiliser ou consulter le Site, la Plateforme ou les systèmes de HYPNOS d’une manière susceptible de nuire à un système ou réseau informatique, y compris en important un virus (le terme « virus» désignant, aux fins des présentes, tout programme délibérément introduit dans un système sans objectif fonctionnel et/ou à des fins destructives, tel que pour afficher un message irritant ou systématiquement remplacer les données résidant sur le disque dur d’un utilisateur) ;</p>


<p class="card-text">
·   Afficher ou transmettre des informations qui sont, de quelque manière que ce soit, fausses, frauduleuses ou trompeuses, ou commettre tout acte susceptible d’être considéré comme de l’hameçonnage (phishing) (qu’il soit primaire, secondaire ou autre) et qui engagerait une responsabilité pénale ou civile ;</p>


<p class="card-text">
·   Afficher ou transmettre un quelconque contenu illégal, menaçant, abusif, diffamatoire, diffamant, obscène, vulgaire, indécent, inflammatoire, explicitement sexuel, pornographique ou profane ; ou</p>


<p class="card-text">
·   Faire référence à HYPNOS ou à tout membre du Groupe HYPNOS de quelque façon que ce soit susceptible de faire croire que le Vacancier ou tout site Internet est sponsorisé, affilié, partenaire ou approuvé par HYPNOS ou tout membre du Groupe HYPNOS.</p>


<p class="card-text">
Si nos systèmes de détection automatique des fraudes signalent que votre réservation ou votre compte fait apparaître de possibles activités frauduleuses, abusives ou suspectes, HYPNOS se réserve le droit d’annuler toutes les réservations associées à votre nom, à votre adresse e-mail ou à votre compte, et de fermer tous les comptes associés.</p>


<p class="card-text">
 10. Droit de suppression d’un contenu</p>


<p class="card-text">
Les Vacanciers sont responsables de s’assurer que leurs communications et les contenus qu’ils publient sur ou en rapport avec le Site, y compris des Appréciations du Vacancier et leurs échanges avec les Hôtes, ne violent aucune loi ni aucun droit d’aucune personne ou entité et ne contiennent aucune fausse information, aucune insulte, aucune diffamation ni calomnie ni aucune donnée qui violent des droits d’auteur, toute législation sur la protection des données ou nos Recommandations relatives au contenu. HYPNOS est en droit de vérifier toutes données affichées sur le Site ou sur la Plateforme ou les systèmes de HYPNOS, et de les supprimer ou les modifier lorsque de telles données ne sont plus exactes ou à jour. Sans préjudice de tous autres recours disponibles, HYPNOS sera en droit de retirer immédiatement toute communication ou tout contenu affiché sur le Site en infraction à ces exigences, ainsi que de suspendre ou d’empêcher l’utilisation d’un quelconque Compte associé sans préjudice des obligations de HYPNOS liées à son statut d’hébergeur tel que consacré à l’article 6.I.2 de la LCEN. L’utilisateur sera informé par courrier électronique ou autre moyen de communication individuel équivalent des motifs de ces mesures et pourra formuler ses observations à HYPNOS, le cas échéant. </p>


<p class="card-text">
 11. Notifications et plaintes pour violation de la Propriété intellectuelle</p>


<p class="card-text">
11.1 Le groupe HYPNOS est soucieux du respect des droits de propriété intellectuelle d’autrui et en attend de même des Vacanciers. HYPNOS possède et applique une politique interdisant aux utilisateurs de publier tout contenu qui porterait atteinte aux droits d’auteur ou droits des marques d’autrui. Le cas échéant, HYPNOS supprimera le compte des abonnés et titulaires de compte qui enfreindraient de manière répétée les droits précités. Les publications réitérées de matériaux illicites pourront conduire à la résiliation du compte.</p>


<p class="card-text">
11.2 Réclamations relatives aux droits d’auteur. Conformément au Digital Millennium Copyright Act (aux États-Unis), à la Directive sur le commerce électronique (dans l’Union européenne) et aux lois similaires relatives aux contenus en ligne protégés par le droit d’auteur, si vous avez des raisons de croire que votre œuvre protégée par le droit d’auteur fait l’objet d’une violation sur ou via le Site, veuillez établir une réclamation pour violation des droits d’auteur HYPNOS (l’ « Avis ») et l’envoyer à l’Agent responsable des Droits d’auteur désigné par HYPNOS et identifié ci-dessous. Sur réception d’un Avis, HYPNOS prendra les mesures appropriées, cela pouvant inclure le retrait des contenus contestés du Site et/ou la résiliation du compte de l’utilisateur HYPNOS concerné, le cas échéant.</p>


<p class="card-text">
Veuillez inclure dans l’Avis les éléments suivants:</p>


<p class="card-text">
(1) Identification de l’œuvre protégée par le droit d’auteur faisant l’objet d’une violation présumée ou, si plusieurs œuvres protégées par le droit d’auteur et publiées sur un même site en ligne sont couvertes par un même Avis, une liste représentative desdites œuvres publiées sur ledit site.</p>


<p class="card-text">
(2) Identification des images ou éléments constituant une violation présumée de vos droits d’auteur ou une activité de contrefaçon et qui doivent, selon vous, être supprimés, en incluant suffisamment d’informations pour permettre à HYPNOS de localiser spécifiquement les images ou éléments concernés.</p>


<p class="card-text">
(3) Vos coordonnées, en incluant votre nom, votre adresse, votre numéro de téléphone et, le cas échéant, une adresse email à laquelle vous pouvez être contacté.</p>


<p class="card-text">
(4) La déclaration suivante : J’ai, en toute bonne foi, des raisons de croire que l’utilisation des éléments selon les modalités décrites dans la plainte n’est pas autorisée par le détenteur du droit d’auteur, par son agent ou par le droit applicable.</p>


<p class="card-text">
(5) La déclaration suivante : Les renseignements contenus dans le présent Avis sont exacts et, sous peine de parjure, je déclare que (choisir l’option applicable) (i) je suis le détenteur ou (ii) je suis autorisé à agir au nom du détenteur, d’un droit exclusif faisant l’objet d’une violation présumée.</p>


<p class="card-text">
(6) Et la signature physique ou électronique d’une personne autorisée à agir au nom du détenteur du droit exclusif faisant l’objet d’une violation présumée. </p>


<p class="card-text">
Remettez l’Avis à l’Agent responsable des Droits d’auteur désigné par HYPNOS :</p>


<p class="card-text">
Michael R. Graham</p>


<p class="card-text">
c/o HYPNOS, Inc.</p>


<p class="card-text">
Legal Department – Copyrights</p>


<p class="card-text">
111 HYPNOS Group Way</p>


<p class="card-text">
Seattle, Washington 98119</p>


<p class="card-text">
États-Unis</p>


<p class="card-text">
 E-mail : gestion.hypnos@gmail.com</p>


<p class="card-text">
Téléphone : 206-481-7200</p>


<p class="card-text">
11.3 Contre-avis pour les droits d’auteur. Si du matériel que vous avez publié a été désactivé sur la base d’une réclamation liée aux droits d’auteur, vous pouvez introduire un Contre-avis par e-mail ou par courrier ordinaire, reprenant les informations spécifiées ci-dessous. Vous pouvez éventuellement recourir à un conseil juridique a priori. Veuillez inclure les détails suivants : </p>


<p class="card-text">
(1)          L’identification du contenu spécifique ayant été retiré ou désactivé, ainsi que l’emplacement du contenu sur le site Web ‘de HYPNOS. Veuillez fournir l’adresse URL si possible.</p>


<p class="card-text">
(2)          Votre nom, adresse postale, numéro de téléphone et adresse e-mail.</p>


<p class="card-text">
(3)          Une déclaration selon laquelle vous acceptez la compétence de la juridiction de la Cour fédérale de justice pour la circonscription judiciaire dans laquelle se situe votre adresse, ou, si votre adresse se situe en dehors des États-Unis, pour toute circonscription judiciaire dans laquelle HYPNOS, Inc. peut être trouvée, et que vous accepterez le service de procédure provenant de la partie ayant rapporté votre contenu, ou provenant du responsable de cette partie.</p>


<p class="card-text">
(4)          La déclaration suivante : « Je jure, sous peine de parjure, que j’ai tout lieu de croire que le contenu identifié ci-dessus a été retiré ou désactivé en résultat d’une erreur ou d’une identification erronée. »</p>


<p class="card-text">
Signez le document et envoyez la communication écrite à l’adresse postale ou à</p>


<p class="card-text">
l’adresse e-mail suivante : </p>


<p class="card-text">
 </p>


<p class="card-text">
Responsable des droits d’auteur désigné par HYPNOS :</p>


<p class="card-text">
Michael Graham</p>


<p class="card-text">
c/o HYPNOS, Inc.</p>


<p class="card-text">
Legal Department - Copyrights</p>


<p class="card-text">
111 HYPNOS Group Way</p>


<p class="card-text">
Seattle, Washington 98119</p>


<p class="card-text">
États-Unis</p>


<p class="card-text">
 E-mail : gestion.hypnos@gmail.com</p>


<p class="card-text">
Téléphone : 206-481-7200</p>


<p class="card-text">
11.4 Réclamations relatives aux marques commerciales. Si vous avez des raisons de croire que le Site ou une Annonce viole ou utilise à mauvais escient une Marque vous appartenant,</p>


<p class="card-text">
veuillez remplir une réclamation écrite de mauvais usage de la marque HYPNOS et la remettre à l’Agent responsable des marques de HYPNOS, identifié ci-dessous. Sur réception d’un tel Avis, HYPNOS prendra les mesures appropriées, notamment en informant l’Hôte qui a publié l’élément constituant une violation présumée de la Plainte, en lui demandant d’examiner ladite Plainte et d’y répondre, de supprimer de l’annonce ou du Site les éléments constituant une infraction caractérisée, et/ou en résiliant le compte de l’utilisateur HYPNOS, le cas échéant.</p>


<p class="card-text">
Veuillez inclure dans l’Avis les éléments suivants :</p>


<p class="card-text">
1)       Identification de la Marque faisant l’objet d’une violation présumée.</p>


<p class="card-text">
(2)       Identification du Site ou des annonces sur lesquels la Marque fait l’objet d’une utilisation abusive présumée.</p>


<p class="card-text">
(3)   Vos coordonnées, en incluant votre nom, votre adresse, votre numéro de téléphone et, le cas échéant, une adresse email à laquelle vous pouvez être contacté.</p>


<p class="card-text">
(4)   La déclaration suivante : J’ai, en toute bonne foi, des raisons de croire que la désignation ci-dessus, selon les modalités décrites dans la plainte, n’est ni autorisée ni acceptable.</p>


<p class="card-text">
(5)   La déclaration suivante : Les renseignements contenus dans le présent Avis sont exacts et, sous peine de parjure, je déclare que (choisir l’option applicable) (i) je suis le détenteur ou (ii) je suis autorisé à agir au nom du détenteur d’un droit exclusif faisant l’objet d’une violation présumée.</p>


<p class="card-text">
(6)   Et la signature physique ou électronique d’une personne autorisée à agir au nom du détenteur du droit exclusif faisant l’objet d’une violation présumée.</p>


<p class="card-text">
Remettre l’Avis à :</p>


<p class="card-text">
Trademark Claims</p>


<p class="card-text">
Michael Graham</p>


<p class="card-text">
c/o HYPNOS, Inc.</p>


<p class="card-text">
Legal Department - Copyrights</p>


<p class="card-text">
111 HYPNOS Group Way</p>


<p class="card-text">
Seattle, Washington 98119</p>


<p class="card-text">
États-Unis</p>


<p class="card-text">
E-mail : gestion.hypnos@gmail.com</p>


<p class="card-text">
Téléphone : 206-481-7200</p>


<p class="card-text">
11.5 Avis sur les brevets. Un ou plusieurs brevets que possède(nt) le Groupe HYPNOS et/ou les sociétés d’HYPNOS peuvent s’appliquer à ce Site ainsi qu’aux fonctionnalités et services accessibles via le Site. Des portions de ce site Web fonctionnent sous la licence d’un ou de plusieurs brevets. D’autres brevets sont en cours.</p>


<p class="card-text">
12. Responsabilité de HYPNOS</p>


<p class="card-text">
12.1 Le Site représente simplement un espace pour consulter des Annonces de Locations de vacances référencées sur le Site, de communiquer avec les Hôtes afin de leur soumettre toutes demandes d’informations ou questions éventuelles, et d’effectuer une réservation auprès d’un Hôte afin de louer sa Location de vacances. Dans la mesure autorisée par la loi, nous déclinons toute responsabilité concernant tout contrat que vous signez avec un Hôte et toute Location de vacances que vous réservez, sauf en cas d’obligation de collecter des informations fiscales et ou la Taxe de séjour pour le compte de l’Hôte, et dans la mesure autorisée par la loi, nous déclinons toute responsabilité en cas d’actes ou d’omissions de la part de tout Hôte ou autre personne(s) ou partie(s) en rapport avec une Location de vacances. Pour toutes les Locations de vacances, votre contrat sera conclu avec l’Hôte, et ses conditions générales s’appliqueront à vos réservations. Ces conditions générales pourraient limiter et/ou exclure la responsabilité de l’Hôte envers vous, et pour cette raison il vous est conseillé de les lire attentivement avant d’effectuer votre réservation.</p>


<p class="card-text">
12.2 Nous ne fournissons aucune protection de responsabilité civile aux Hôtes, aux Gérants de biens immobiliers et aux Vacanciers, même si un Utilisateur a contracté une assurance auprès de l’un de nos prestataires tiers. Il est recommandé à tout Vacancier de contracter une assurance de voyage adaptée afin de couvrir sa réservation d’une Location de vacances auprès d’un Hôte, notamment en cas d’annulation de sa réservation. Il incombe au Vacancier de vérifier que l’assurance qu’il contracte est adéquate et spécifiquement adaptée à ses besoins.</p>


<p class="card-text">
12.3 Si vous répondez à la définition de consommateur telle que prévue par le droit français, vous bénéficiez de certains droits (notamment, pour les services, nous fournirons ces-derniers avec un soin et une compétence raisonnables). Aucune clause des présentes ne doit affecter vos droits en tant que consommateur.</p>


<p class="card-text">
12.4 HYPNOS sera responsable dans la mesure où elle aura manqué aux devoirs liés à son statut d’hébergeur, tel que le devoir de retirer ou de rendre l’accès impossible à un contenu illicite dont elle aura eu connaissance, par exemple s’il lui a été signalé. HYPNOS est responsable des u dommages que le Vacancier pourrait subir et qui résulteraient de manière prévisible d’un non-respect des présentes Conditions de la part d’HYPNOS. Dans la mesure autorisée par la loi, celle-ci ne saurait en revanche être tenue responsable des dommages imprévisibles. Un dommage est prévisible si, au moment de la conclusion de ces Conditions, il est évident qu’il se produira ou si, le Vacancier et HYPNOS savaient ou pouvaient savoir qu’il se produirait, par exemple si le Vacancier l’avait expressément signalé par écrit à HYPNOS. La responsabilité de HYPNOS ne pourra être recherchée qu’après l’envoi d’une mise en demeure restée infructueuse, et sera exclue en cas de force majeure. </p>


<p class="card-text">
12.5 Dans la mesure autorisée par la loi, la responsabilité de HYPNOS sera exclue en cas de plaintes, réclamations, actions en justice ou autres frais, y compris notamment tous frais juridiques, directs et indirects, résultant des élément suivants : (a) tout contenu ou document que vous soumettez ou fournissez au Site ; (b) votre utilisation de tout contenu sur le Site ; (c) tout manquement de votre part aux Conditions Générales d’Utilisation
 ; et (d) votre utilisation de la Location de vacances. HYPNOS vous notifiera promptement, par courrier électronique ou autre moyen de communication individuel équivalent, de telles plaintes, réclamations ou actions, le cas échéant. Si vous n’êtes pas satisfait(e) du Site (ou de la Plateforme ou des systèmes de HYPNOS), ou si vous êtes en désaccord avec une partie des présentes Conditions Générales d’Utilisation
, votre seul et unique recours contre HYPNOS consiste à cesser d’utiliser le Site. Rien dans les présentes Conditions Générales d’Utilisation
 ne saurait exclure ni limiter la responsabilité du Groupe HYPNOS en cas de décès ou de préjudice corporel résultant d’une négligence de sa part, de même qu’en cas de fraude ou de représentation frauduleuse de la part du Groupe HYPNOS.</p>


<p class="card-text">
12.6 Les remboursements sont traités immédiatement, cependant le délai pour recevoir le remboursement varie selon la méthode de paiement et le système de paiement applicable. Les remboursements sont traités dans la devise du paiement initial. Toute conversion de devise sera effectuée par la banque concernée sur la base de son taux de change en vigueur, qui pourra être différent du taux de change appliqué au moment de votre paiement initial. Par ailleurs, les frais bancaires encourus par le Vacancier dans le cadre de la procédure de réservation ou de remboursement pourront être déduits par la banque du montant remboursé, auquel cas ils ne seront pas remboursés par HYPNOS.</p>


<p class="card-text">
13. Divers</p>


<p class="card-text">
13.1 Les présentes Conditions Générales d’Utilisation
 sont régies par le droit irlandais et assujetties à la compétence non exclusive des tribunaux irlandais, sans préjudice de la loi applicable et de la compétence des tribunaux du lieu de résidence des Vacanciers (si le Vacancier est un particulier). À titre d’illustration, les dispositions impératives du droit français seront applicables et les juridictions françaises compétentes pour les Vacanciers résidant en France.</p>


<p class="card-text">
13.2 HYPNOS conseille au Vacancier de conserver une copie des présentes Conditions Générales d’Utilisation
 dans un dossier spécifique sur son ordinateur ou sur papier.</p>


<p class="card-text">
13.3 Même si HYPNOS ne réagit pas en cas de quelconque violation des présentes Conditions Générales d’Utilisation
 par le Vacancier ou toute autre personne, cela ne signifie pas que HYPNOS renonce à son droit d’agir en cas de toutes autres violations ultérieures ou similaires.</p>


<p class="card-text">
13.4 Les intitulés des différentes clauses des présentes Conditions Générales d’Utilisation
 ne servent qu’à des fins de référence et ne peuvent en aucun cas affecter l’interprétation ou la construction des présentes Conditions Générales d’Utilisation
.</p>


<p class="card-text">
13.5 Si vous êtes un consommateur résidant en France, vous convenez de ce qui suit:</p>


<p class="card-text">
En cas de litige entre Vous et HYPNOS, Vous avez la possibilité de recourir à une procédure de médiation conventionnelle ou à tout autre mode alternatif de règlement des litiges tels que définis par la loi. Le médiateur de la consommation dont dépend HYPNOS est le service de médiateur du e-commerce de la Fédération des Entreprises de Vente à Distance (FEVAD) http://www.fevad.com/mediation. Après avoir saisi par écrit HYPNOS, et à défaut de réponse satisfaisante de la part d’HYPNOS dans un délai de 60 jours, Vous pouvez soumettre Votre litige au médiateur selon les conditions énoncées sur le site internet du médiateur. Vous pouvez contacter le médiateur à l’adresse suivante:</p>


<p class="card-text">
Le service de médiation e-commerce</p>


<p class="card-text">
60, rue La Boétie - 75008 Paris</p>


<p class="card-text">
http://www.mediateurfevad.fr</p>
<p class="card-text">
Vous pouvez aussi soumettre vos litiges avec HYPNOS sur la plateforme de la Commission européenne relative au règlement en ligne de litiges accessible à http://ec.europa.eu/odr.</p>
<p class="card-text">
{% endblock %}